// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";
@import "less/weather-icons.min.less";

.WeatherInformation {
  font-size: 14px;
  letter-spacing: 1px;
  font-family: 'Arial';
  padding: 20px;
  max-width: 300px;

  h1 {
    margin: 40px 0 0 0;
    padding: 0;
    line-height: 1em;
    text-transform: uppercase;
  }

  .RightNow {
    & > h1 {
      margin: 0;
    }
    & > main {
      overflow: auto;
      & > i {
        font-size: 70px;
        line-height: 85px;
        float: left;
      }
      & > h1 {
        margin: 0;
        padding-left: 10px;
        font-size: 50px;
        line-height: 85px;
      }
    }
  }

}
